<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.portatil.cdi_empresaseguridad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
        </intent-filter>
        </activity>

        <activity android:name=".AdminUsersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".DomoticaNuevaPlanta"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".DomoticaBanio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaDespacho"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaFinal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaControl"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaPersianas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaSalaComun"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaSalaComunOtros"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaDespachoOtros"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaServidores"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".GestionAbonados2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaVisualizarPlanta1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaVisualizarPlanta2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Alarmas2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaItemsControl1"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaItemsControl2"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".ServiciosContratados"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DomoticaPlaces"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CServidor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CSalaComun"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CBanio"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name=".CDespacho"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

    </application>


</manifest>